<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WORDSEARCH SOLVER</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/resources/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/resources/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/resources/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon-16x16.png">
    <link rel="manifest" href="/resources/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src = "/scripts/script.js"></script>

  </head>
  <body onload = "setup()">
    <header>
    <h1>WORD SEARCH SOLVER</h1>
    <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out this cool website!" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

    </header>

    <br>
    <br>

    <div id="edit">
      <h3>GET PHOTO</h3>
      <p>Take a photo of the wordsearch if you do not have one already</p>
      <a href="#info" style="font-size: 2.5vh">already have picture</a><br>
      <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480"></canvas><br>
    <input type = "button" id="snap" class = "myButton" onclick = "takePhoto()" value = "take photo"><br>
    <p id = "cropInfo">Crop the image so only the crossword is shown</p><br>
    <input type = "button" id="save" class = "myButton" onclick = "saveImage()" value = "save image"><br>
    <a id="link"></a><br>

  </div><br><br>
    <div id="info">
      <h3 id = "title">FIND WORDS<h3>
    <!-- rest  -->
    <form action="/fileupload" id = "form" method="post" enctype="multipart/form-data"><br>
      <p>it's best if the word search image is clear, and there is no extra space</p><br>
      <p>Select the wordsearch(jpg or png):</p><br> <input type="file" id = "inp" name="filetoupload"><br>
      <p>Rows:</p> <input type="number" name="rows"><br>
      <p>Columns:</p> <input type="number" name="columns"><br>
      <p>Enter a word to find:</p> <input type="text" id = "addword" name="words" value = ""><br><br>
      <input type = "button" class = "myButton" value = "add word" onclick = "addWord()"><br><br>
      <input type = "button" class = "myButton" value = "remove word" onclick = "removeWord()"><br><br>
      <input type = "button" class = "myButton" value = "clear words" onclick = "clearWords()"><br><br>
      <p id = "allwords" name = "allwords"></p><br>
      <input type="submit" value = "find words" class = "myButton" onclick="yo()">
    </form>

      <p id = "loadingtext">ANALYZING THE WORDSEARCH, FINDING THE WORDS AND DEFINITIONS</p><br><br>
      <div id ="loader"></div>

    </div>
<br>
    <footer>&copy; 2019 Ashay Parikh. All rights reserved</footer>

  </body>
</html>
