<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WORDSEARCH SOLVER</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>
    <h1>WORD SEARCH SOLVER</h1>
    </header>

    <br>
    <br>


    <div id="info">

      <p>HERE IS THE CROSSWORD</p>
      <img src="resources/answer.jpg" alt='word search' id = "image" >

    </info>
  </body>
</html>
